*{
	font-family: 'Pacifico', cursive;
}
header {
	font-family: 'Quicksand', serif;
	width: 100%;
	background-image: url(../images/home-bg.jpg);
	height: 30em;
	margin: 0px;
	padding: 0px;
	background-repeat:no-repeat;
	background-size: cover;
	background-position:center;
	color: white;
	padding-top: 2em;
	
}
#header-title h1{
	font-family: 'Quicksand', serif;
	padding: 0.5em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	text-align: left;
	color: white;
	font-size: xx-large;

}
#header-title h1 small{
	color: white;
}
#header-title {
	background-color:  	#7B68EE;
	width: 280px;

}

section{
	
	padding: 0.5em;
	width: 100%;
	padding:1em;
	padding-top: 2em;
	
}
#p2{
	font-family: 'Quicksand', serif;
	font-weight: bold;
	color: white;
	color: blue;
}
h1 {
	font-family: 'Pacifico', cursive;
	text-align: center;
	color:  	#7B68EE;
	padding: 0.5em;
	font-size: 5em;
}
.p-title{
	font-family: 'Pacifico', cursive;
	text-align: center;
	font-size: xx-large;
	padding-top: 10px;
	height: 100%;
	width: 100%;
	opacity: 0.8;
	font-weight: lighter;
}
p{
	font-family: 'Quicksand', serif;
	font-weight: bold;
	color: white;
}
 article{
 	
 	padding:1em;
 	padding-top: 0em;
 	font-size: 1em;
 }
 .bgcolor{
 	background-color:  	#7B68EE;
 }
 .gray_tran{
 	background-color: gray;

 }
 .boxes{
 	background-repeat:no-repeat;
	background-size: cover;
	 background-position: center; 
	height: 15em;
 }
  .link_styles{
	width: 15em; 
	height: auto; 
	padding: 1em;
	margin-top: 1em;
	padding-bottom: 1.5em;
	background-color: #663399;
  }
 a:link {
    color: black !important; 
    transition: color 0.5s;
}

/* visited link */
a:visited {
    color: black !important;
    transition: color 0.5s;
}

/* mouse over link */
a:hover {
    color: lightblue !important;
    transition: color 0.5s;
}

/* selected link */
a:active {
    color: black !important;
    transition: color 0.5s;
}
footer nav{
	align-content: center;
	align-items: center;
	text-align: center;
	align-self: center;
}
footer{
	height: 50px;
	padding:10px;
	margin-top: 2em;
	background-color: #7B68EE;
}
footer nav ul{
	list-style: none;
	align-content: center;
	align-items: center;
	text-align: center;
	align-self: center;
}
li {
    display: inline;
    margin-right: 25px;
}
.box_style{
	height: 5em;
	background-color: gray;
	opacity: 0.5;
}
#biopic{
	height: 20em;width: 100%;
	background-image: url(../images/bio-pic.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	background-position:center;
}
.parallax {
         background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }